@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  padding: 10px 0px 5px 0px;
  font-family: "Lato", sans-serif;
}
