.help-request-card {
  border: black 1px solid;
  width: 230px;
  margin: 20px;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
}

.fulfill-request-button {
  background-color: palegoldenrod;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
}
