@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.header-logo {
  height: 600px;
}

.about-section {
  background-color: black;
  color: white;
  padding: 20px 300px 80px 300px;
  text-align: left;
}

.about-header {
  text-align: center;
  font-family: "Anton", sans-serif;
  font-weight: 100;
  font-size: 30px;
}

.how-it-works-section {
  padding: 20px 300px 80px 300px;
  text-align: left;
}

.how-it-works-header {
  text-align: center;
  font-family: "Anton", sans-serif;
  font-weight: 100;
  font-size: 30px;
}

.FAQ-section {
  background-color: black;
  color: white;
  padding: 20px 300px 80px 300px;
  text-align: left;
}

.FAQ-header {
  text-align: center;
  font-family: "Anton", sans-serif;
  font-weight: 100;
  font-size: 30px;
}

.question {
  font-weight: 700;
  font-size: 20px;
}
