@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

Form {
  text-align: left;
  padding: 20px 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Lato", sans-serif;
}

.request-form-field {
  border: none;
  border-bottom: black solid 1px;
  width: 100%;
  padding: 5px;
  margin: 20px 10px;
  font-size: 20px;
  font-family: "Lato", sans-serif;
}

.submit-button {
  width: 100%;
  padding: 20px;
  margin: 14px;
  background-color: black;
  color: white;
  border: none;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  border-radius: 5px;
}

.message-text-area {
  border: black 1px solid;
  border-radius: 5px;
  height: 100px;
  width: 100%;
  padding: 5px;
  margin: 10px 10px;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  color: gray;
}
