.App {
  text-align: center;
}

.menu {
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
  padding: 20px 0px;
}

.menu-item {
  padding: 0px 20px;
  font-family: "Anton", sans-serif;
  font-size: 30px;
}
