@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.App {
  text-align: center;
}

.menu {
  display: flex;
  background-color: black;
  justify-content: center;
  padding: 20px 0px;
}

.menu-item {
  padding: 0px 20px;
  font-family: "Anton", sans-serif;
  font-size: 30px;
  text-decoration: none;
  color: white;
}
